.action-component {
  width: 350px;
  position: absolute;
  left: 8px;
  top: 8px;
  background-color: white;
  padding: 15px;
  border-radius: 2px;
  color: #222;
  max-height: 90%;
  overflow-y: auto;
}

.route-address {
  text-align: left;
  padding: 0.3em;
  margin: 0.3em;
  border: 1px solid whitesmoke;
  cursor: pointer;
}

.route-address:hover {
  background-color: whitesmoke;
}
