.ol-map {
  background-color: #222;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 1px;
  width: 100%;
  position: absolute;
}

.ol-zoom {
  left: unset;
  top: unset;
  font-size: calc(10px + 1vmin);
  right: 8px;
  top: 8px;
}
